*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

.navbar{
    /* border: solid; */
    background-color: orangered;
    display: flex;
    justify-content: space-around;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}

.navbar a:hover{
    color: lightsalmon;
    transition: margin-right 2s;
}
/* hero section */
/* https: //assets.nicepagecdn.com/11a8ddce/3502986/images/pexels-photo-733500.jpg */

.hero {
    /* border: solid; */
        height: 65vh;
        background-image: url(https://assets.nicepagecdn.com/11a8ddce/3502986/images/pexels-photo-733500.jpg);
        background-size: cover;
        background-position: center;
        background-position: top;
}

.hero {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.hero .hero-content {
    max-width: 600px;
}

.hero-content h4{
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 65px;
}

.hero-content h1{
    font-size: 36px;
    margin-bottom: 30px;
    margin-left: 65px;
    width: 250px;
}

.hero-content p {
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 65px;
}

.hero .hero-content .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 65px;
        padding: 9px 12px;
        gap: 8px;
        height: 40px;
        width: 172px;
        border: none;
        background: orangered;
        border-radius: 20px;
        cursor: pointer;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 60px;
    gap: 30px;
    background-color: #f0cccf;
    
}

.card h2{
    font-size: 48px;
    color: #f0cccf;
    /* font-weight: 500;
    font-family: sans-serif; */
}

.card{
    background-color: white;
    height: 245px;
    width: 293px;
    width:25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card p{
   text-align: center;
   width: 240px;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 60px;
    gap: 30px;
}

.contact-item{
    width: 500px;
    height: 377px;
}

.check{
    height: 13.8px;
    width: 13.8px;
}

.book{
    width: 195px;
    height: 59px;
    padding: 16px 48px;
    background-color: #E3A5AB;
    border-radius: 30px;
    color: #FFFFFF;
    border: none;
}

.contact .text-section{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.text-section h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 2.4rem;
    width: 490px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact .highlight-box{
  background-color: #FF6008;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.highlight-box p{
    color: #FFFFFF;
    line-height: 28px;
}

.highlight-box .important{
   font-weight: 700;
}

.contact-item .worker{
    width: 500px;
    height: 377px;
}

/* form */
.form {
    display: flex; 
    padding-top: 15px;
    padding-bottom: 20px;
    background-color: lightpink;
}

.contact-form {
    display: flex;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;;
    margin-left: 550px;
}
.contact-form h1 {
    margin-bottom: 20px;
}
.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: black;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color:rgb(255, 0, 0);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: orangered;
}
